<script class="result-template" type="text/template">
	<% if(item.type == "series"){ %>
		<a href="/series.html?id=<%= item.id %>">
	<% }else{ %>
		<a href="/item.html?id=<%= item.id %>">
	<% } %>
	<div class="row media-item" data-id="<%= item.id %>">
	  <div class="media-image col-md-4 col-sm-5 col-xs-6">
	    <div class="media-wrapper">
	      <img class="media-object img-responsive" alt="<%= item.originalTitle %>" src="<% if(item.screenshot){print(item.screenshot + '?script=euscreen320t')}else{print('http://player7.noterik.com/eddie/apps/euscreenxlelements/img/ic_thumbnail.gif')} %>">
      	  <% if(item.type == "video" || item.type == "audio"){ %>
		  <span class="media-length"><%= item.duration %></span>
      	  <% } %>
      	  <span class="media-hue">
      	  	<% if(item.type == "video" || item.type == "audio"){ %>
      	  		<i class="glyphicon glyphicon-play fa fa-play"></i>
      	  	<% }else{ %>
      	  		<i class="glyphicon glyphicon-search fa fa-search"></i>
      	  	<% } %>
      	  </span>
      	  <% if(item.type == "picture"){ item.type = "image" } %>
      	  <% if(item.type == "doc"){ item.type = "text"} %>
      	  <span class="media-logo <%= item.type %>"></span>
      	  <span class="media-type <%= item.type %>"></span>
	    </div>
	  </div>
	  <div class="media-metadata col-md-8 col-sm-7 col-xs-6">
	    <h3 class="media-heading">
	      <%= item.title %>
	    </h3>
		<span class="line">
		    <span class="label">
		      Provider:
		    </span>
		    <span class="value">
		      <%= item.provider %>
		    </span>
		</span>
		<span class="line">
		    <span class="label">
		      Language:
		    </span>
		    <span class="value">
		   		<%= item.language %>
		    </span>
		</span>
	  </div>
	</div>
	</a>
</script>

<div class="col-md-12 results">
	<!-- spinner -->
	<div class="spinner hidden">
		<img src="/eddie/apps/euscreenxlelements/img/spinner.gif" />
	</div>
	
	<!-- no results -->
	<div class="no-results" id="no-search-term">
		START BY ENTERING SEARCH TERMS
	</div>
	<div class="no-results hidden" id="no-results">
		NO RESULTS FOUND, PLEASE TRY AGAIN WITH DIFFERENT KEYWORDS
	</div>
	
  	<div class="row">
  		<div class="col-md-12">
		  	<div class="list">
		  		
		  	</div>
		</div>
	</div>
</div>