<div class="page search desktop" id="page">
  <header id="header">
  	<!-- HEADER HERE -->
  </header>
  <div class="container main search-results">
    <div class="row">

	  <!-- left column -->
      <div class="left col-md-4 col-sm-4">
        <div class="row">
          <div class="col-md-12 searchbar" id="searchinput">
          	<!-- SEARCH INPUT HERE -->
          </div>
        </div>
        <div class="row active-filters hidden" id="activefields">
          <!-- active filters here -->
        </div>
        <div class="row" id="filter">
        	<!-- filters here -->
       	</div>
      </div>
	  <!-- END LEFT COLUMN -->


	  <!-- START RIGHT COLUMN -->
      <div class="right col-md-8 col-sm-8">
      	<div class="row results-media">
      		<div class="mediatab col-md-12" id="tabs">
      			<!-- TABS HERE -->
      		</div>
      	</div>
        <!-- /.row -->
        <div class="row results-action">
        	<div class="counter col-md-12" id="resulttopbar">
        		<!-- RESULT TOPBAR HERE -->
        	</div>
		</div>
        <div class="row search-results-list" id="results">
        	<!-- results here -->
        </div>
      </div>
	  <!-- END RIGHT COLUMN -->

    </div>
  </div>
  <footer id="footer" class="hidden-xs hidden-sm visible-lg visible-md ">
    <!-- FOOTER HERE -->
  </footer>
</div>
<div id="mobilenav" class="mobilenav">
</div>
