<div class="page container">
  <header id="header">
  	<!-- HEADER HERE -->
  </header>
  <main class="search-results">
    <div class="row">

	  <!-- LEFT COLUMN -->
      <div class="col-md-4 refine-search">
        <div class="row">
          <div class="col-md-12">
            <h2>
              Refine Search
            </h2>
          </div>
        </div>
        <div class="row active-filters" id="activefilters">
          <!-- active filters here -->
        </div>
        <div class="row" id="filters">
        	<!-- filters here -->
       	</div>
        <div class="row">
          <div class="col-md-12">
            <p>
              Did not find what you where looking for?
              <br/>
              <br/>
              Try out the similar search on EUROPEANA.
              <br/>
              <br/>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin metus ac neque
              suscipit, vel varius quam rutrum. Suspendisse nunc nisl, varius nec condimentum et, tempus
              non erat.
              Quisque in porttitor turpis, sed pulvinar quam. Fusce consectetur aliquam lectus et
              sagittis.
              Curabitur quis tempor diam. Proin imperdiet facilisis ipsum, quis pulvinar diam. Etiam
              mauris justo,
              consequat nec consequat non, tincidunt id mauris.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-default">
              Give it a go!
            </button>
          </div>
        </div>
      </div>
	  <!-- END LEFT COLUMN -->


	  <!-- START RIGHT COLUMN -->
      <div class="col-md-8 search-results">
		<div class="row" id="searcher">
			<!-- searcher here -->
		</div>
        <!-- /.row -->
        <div class="row search-results-list" id="results">
        	<!-- results here -->
        </div>
      </div>
	  <!-- END RIGHT COLUMN -->

    </div>
  </main>
  <footer id="footer">
    <!-- FOOTER HERE -->
  </footer>
</div>