<div class="page mobile" id="page">

  <!-- header -->
  <header id="header">
  	<!-- header contents here -->
  </header>
  
  <!-- main container -->
  <div class="container main search-results">
  	<div class="row">
  		
  		<!-- Contains all the search input and the activefields and available filters -->
  		<div class="left col-md-4 col-sm-4" id="search-parameters">    
  			
        	<div class="row">
        		<!-- search input -->
        		<div class="searchbar col-md-12" id="mobilesearchinput">
    				<!-- search input contents here -->
        		</div>
        	</div>
			        	
        	<!-- active fields here  -->
        	<div class="row" id="activefields">
        		<!-- active fields contents here -->
        	</div>
			        	
        	<!-- media type selector -->
        	<div class="row">
        		<div class="mediaselector col-md-12" id="mediaselector">
        			<!-- media selector contents here -->
        		</div>
        	</div>
			        	
        	<!-- filters -->
        	<div class="row" id="filter">
        		<!-- filters contents here -->
        	</div>
			        	
        	<!-- ads -->
        	<div class="row">
        		<div class="ads col-md-12 hidden-xs">
        			<span class="wrap">
        				<a href="http://www.europeana.eu" target="_blank">
		        			<span class="text">
			        			CANT FIND WHAT YOU'RE LOOKING FOR? TRY OUT SIMILAR
			        			SEARCH ON EUROPEANA
		        			</span>
        				</a>
        			</span>
        			<img src="img/img-ads.gif" class="img-responsive">
        		</div>
        	</div>
    	</div><!-- /#search-parameters -->
    	
    	
    	<div class="right col-md-8 col-sm-8" id="results">       			
            
            <div class="row">
            	<!-- topbar containing the amount of results and sorting options -->
            	<div class="counter col-md-12" id="resulttopbar">
            		<!-- result topbar contents here -->
            	</div>
            </div>
			                
            <!-- mobile results -->
            <div class="row" id="mobileresults">
            	<!-- mobile results contents go here -->
            </div>
            
        </div>
  	</div>
  </div>
  
  <!-- footer -->
  <footer class="hidden-xs" id="footer">
  	<!-- footer contents here -->
  </footer>
</div>

<!-- nav -->
<div id="mobilenav" class="mobilenav">
	<!-- mobilenav contents here -->
</div>
