<ul class="nav nav-tabs">
  <li class="active"><a href="#results-all" class="inactive" data-toggle="tab" data-type="all">All</a></li>
  <li class="inactive"><a href="#results-videos" data-toggle="tab" data-type="video">Videos</a></li>
  <li class="inactive"><a href="#results-images" data-toggle="tab" data-type="picture">Images</a></li>
  <li class="inactive"><a href="#results-audio" data-toggle="tab" data-type="audio">Audio</a></li>
  <li class="inactive"><a href="#results-documents"  data-toggle="tab" data-type="doc">Documents</a></li>
  <li class="inactive"><a href="#results-series"  data-toggle="tab" data-type="series">Series</a></li>
</ul>

