<ul class="nav nav-tabs">
  <li class="active"><a href="#results-all" class="inactive" data-toggle="tab" data-type="all">All</a></li>
  <li><a href="#results-videos" class="inactive" data-toggle="tab" data-type="video">Videos</a></li>
  <li><a href="#results-images" class="inactive" data-toggle="tab" data-type="picture">Images</a></li>
  <li><a href="#results-audio" class="inactive" data-toggle="tab" data-type="audio">Audio</a></li>
  <li><a href="#results-documents" class="inactive" data-toggle="tab" data-type="doc">Documents</a></li>
</ul>

