/**
* generic.less
*
* This file contains the generic styles which are to be applied on all devices for EUScreenXLPagePrototypes.
* Certain device may override these styles in their own stylesheet.
*/

#synctime{
	display: none;
}

.euscr-popup {
    display: none;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

ul.no-break {
    margin: 0 0;
    list-style: none;
}

ul.no-break li {
    display: inline-block;
}

.page {
    height: auto;
}

.page header nav ul {
    list-style: none;
}

.page main .label {
    margin: 0 5px 0 0;
    color: dodgerblue;
}

/*all.css*/
.row.media-item {
    margin-top: 10px;
}

.row.media-item .media-wrapper {
    position: relative;
}

.row.media-item .media-wrapper .media-type {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: white;
    padding: 2px 5px 2px 5px;
    background-color: rgba(0, 0, 0, 0.4);
}


/*desktop.css*/
.basic-filters {
    margin-top: 5px;
}

#filter-accordion .extra-option {
    display: none;
}

#hide-extra-filters {
    display: none;
}

#resulttopbar{
	display: none;
}

button.load-more{
	display: none;
}