<script class="result-template" type="text/template">
	<div class="row media-item" data-id="<%= item.id %>">
	  <div class="media-image col-md-4 col-sm-5 col-xs-5">
	  	<a href="/item.html?id=<%= item.id %>">
		    <div class="media-wrapper">
		      	<img class="media-object img-responsive" alt="<%= item.originalTitle %>" src="<% if(item.screenshot){print(item.screenshot)}else{print('http://player7.noterik.com/eddie/apps/euscreenxlelements/img/ic_thumbnail.gif')} %>">
	      	  <% if(item.type == "video" || item.type == "audio"){ %>
			  <span class="media-length"><%= item.duration %></span>
	      	  <% } %>
	      	  <span class="media-hue">
	      	  	<% if(item.type == "video" || item.type == "audio"){ %>
	      	  		<i class="glyphicon glyphicon-play"></i>
	      	  	<% }else{ %>
	      	  		<i class="glyphicon glyphicon-search"></i>
	      	  	<% } %>
	      	  </span>
	      	  <i class="media-type <%= item.type %>"></i>
		    </div>
		 </a>
	  </div>
	  <div class="media-metadata col-md-8 col-sm-7 col-xs-7">
	    <a href="http://beta.euscreenxl.eu/item.html?id=<%= item.id %>"><h3 class="media-heading">
	      <%= item.title %>
	    </h3></a>
	    <span class="line">
		    <span class="label">
		      Original Title:
		    </span>
		    <span class="value">
		     <%= item.originalTitle %>
		    </span>
		</span>
		<span class="line">
		    <span class="label">
		      Provider:
		    </span>
		    <span class="value">
		      <%= item.provider %>
		    </span>
		</span>
	    <span class="line">
		    <span class="label">
		      Year:
		    </span>
		    <span class="value">
		      <%= item.year %>
		    </span>
		</span>
		<% if(item.language && item.type != "picture"){ %>
		<span class="line">
		    <span class="label">
		      Language:
		    </span>
		    <span class="value">
		   		<%= item.language %>
		    </span>
		</span>
		<% } %>
	  </div>
	</div>
</script>
<script class="loading-template" type="text/template">
	<div class="loading">
		Please wait, loading results...
	</div>
</script>

<div class="col-md-12 results">
	
	<!-- spinner -->
	<div class="spinner hidden">
		<img src="/eddie/apps/euscreenxlelements/img/spinner.gif" />
	</div>
	
	<!-- no results -->
	<div class="no-results" id="no-search-term">
		START BY ENTERING SEARCH TERMS
	</div>
	<div class="no-results hidden" id="no-results">
		NO RESULTS FOUND, PLEASE TRY AGAIN WITH DIFFERENT KEYWORDS
	</div>
	
	<div class="tab-content hidden">
	  <div class="tab-pane active" id="results-all">
		<div class="row">
			<div class="list results">
			</div>
			<div class="more col-md-12">
            	<a href="#" data-page="all" class="show-more hidden">SHOW MORE</a>
	  		</div>	
	  	</div>
	  </div>
	  <div class="tab-pane" id="results-videos">
		<div class="row">
			<div class="list results">
			</div>
			<div class="more col-md-12">
            	<a href="#" data-page="video" class="show-more hidden">SHOW MORE</a>
	  		</div>	
	  	</div>
	  </div>
	  <div class="tab-pane" id="results-images">
		<div class="row">
			<div class="list results">
			</div>
			<div class="more col-md-12">
            	<a href="#" data-page="picture" class="show-more hidden">SHOW MORE</a>
	  		</div>	
	  	</div>
	  </div>
	  <div class="tab-pane" id="results-audio">
		<div class="row">
			<div class="list results">
			</div>
	  	</div>
	  </div>
	  <div class="tab-pane" id="results-documents">
		<div class="row">
			<div class="list results">
			</div>
			<div class="more col-md-12">
            	<a href="#" data-page="doc" class="show-more hidden">SHOW MORE</a>
	  		</div>	
	  	</div>
	  </div>
	</div>
</div>