<!-- option template -->
<script id="filter-option-template" type="text/template">
	<% for(var i = 0; i < options.length; i++){ %>
		<% var option = options[i] %>
		<option value="<%= option.value %>">
	    	<%= option.label %>
	  	</option>
	<% } %>
</script>
<!-- end option template -->

<div class="col-md-12">
	<div class="row">
	  <div class="col-md-12">
	    <button class="btn btn-default" data-toggle="collapse" data-target="#extra-filters"
	    id="hide-extra-filters">
	      <span class="glyphicon glyphicon-minus">
	      </span>
	      Less options
	    </button>
	  </div>
	</div>
	<div class="row basic-filters">
	  <div class="col-md-12">
	    <div class="panel-group" id="filter-accordion">
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#filter-accordion" href="#filter-language">
	              Language
	            </a>
	          </h4>
	        </div>
	        <div id="filter-language" class="panel-collapse collapse">
	          <div class="panel-body">
	            <select multiple class="filter form-control">
	              <!-- LANGUAGES HERE -->
	            </select>
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#filter-accordion" href="#filter-decade">
	              Decade
	            </a>
	          </h4>
	        </div>
	        <div id="filter-decade" class="panel-collapse collapse">
	          <div class="panel-body">
	            <select multiple class="filter form-control">
	              <!-- DECADES HERE -->
	            </select>
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#filter-accordion" href="#filter-topic">
	              Topic
	            </a>
	          </h4>
	        </div>
	        <div id="filter-topic" class="panel-collapse collapse">
	          <div class="panel-body">
	            <select multiple class="filter form-control">
	              <!-- TOPICS HERE -->
	            </select>
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default extra-option">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#filter-accordion"
	            href="#filter-provider">
	              Provider
	            </a>
	          </h4>
	        </div>
	        <div id="filter-provider" class="panel-collapse collapse">
	          <div class="panel-body">
	            <select multiple class="filter form-control">
	              <!-- PROVIDERS HERE -->
	            </select>
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default extra-option">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#filter-accordion"
	            href="#filter-publisher">
	              Publisher
	            </a>
	          </h4>
	        </div>
	        <div id="filter-publisher" class="panel-collapse collapse">
	          <div class="panel-body">
	            <select multiple class="filter form-control">
	              <!-- PUBLISHERS HERE -->
	            </select>
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default extra-option">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#filter-accordion" href="#filter-genre">
	              Genre
	            </a>
	          </h4>
	        </div>
	        <div id="filter-genre" class="panel-collapse collapse">
	          <div class="panel-body">
	            <select multiple class="filter form-control">
	              <!-- GENRES HERE -->
	            </select>
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default extra-option">
	        <div class="panel-heading">
	          <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#filter-accordion"
	            href="#filter-country-production">
	              Country of production
	            </a>
	          </h4>
	        </div>
	        <div id="filter-country-production" class="panel-collapse collapse">
	          <div class="panel-body">
	            <select multiple class="filter form-control">
	              <!-- COUNTRIES OF PRODUCTION HERE -->
	            </select>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12">
	    <button class="btn btn-default" id="show-extra-filters">
	      <span class="glyphicon glyphicon-plus">
	      </span>
	      More options
	    </button>
	  </div>
	</div>
</div>