<!-- option template -->

<!--<script id="filter-option-template" type="text/template">
	<% for(var i = 0; i < options.length; i++){ %>
		<% var option = options[i] %>
		<option value="<%= option.value %>">
	    	<%= option.label %>
	  	</option>
	<% } %>
</script>-->

<script id="filter-option-template" type="text/template">
	<% for(var i = 0; i < options.length; i++){ %>
		<% var option = options[i] %>
		<% if(typeof countries !== 'undefined' && option.value){ %>
			<% var country = countries[option.value]; console.log(country); %>
			<li><a href="#" data-value="<%= option.value %>"><% if(countries[option.value]){print(countries[option.value]);}else{print(option.value);} %></a></li>
		<% }else if(option.value){ %>
			<li><a href="#" data-value="<%= option.value %>"><%= option.label %></a></li>
		<% } %>
	<% } %>
</script>

<script id="filter-counter-template" type="text/template">
	<span class="badge label-primary pull-right"><%= counter.amount %></span>
</script>

<!-- end option template -->

<div class="filters col-md-12">
	<span class="header">FILTERS</span>
	<div class="accordion" id="filter-accordion">
	  	
	  	<div class="loading">
		</div>
	  	<!-- Language -->
		<div class="filter inactive">
			<a class="name" data-toggle="collapse" data-target="#filter-language">
				LANGUAGE 
				<i class="glyphicon glyphicon-chevron-down pull-right"></i>
			</a>
			<div id="filter-language" class="collapse filtercontent">
				<ul class="listing" data-category="language">
					<!-- languages here -->
				</ul>
			</div>
		</div>
	  	
	 	<!-- Decades -->
		<div class="filter inactive">
			<a class="name" data-toggle="collapse" data-target="#filter-decade">
				DECADE
				<i class="glyphicon glyphicon-chevron-down pull-right"></i>
			</a>
			<div id="filter-decade" class="collapse filtercontent">
				<ul class="listing" data-category="decade">
					<!-- decades here -->
				</ul>
			</div>
		</div>
		
	    <!-- Topics -->
		<div class="filter inactive">
			<a class="name" data-toggle="collapse" data-target="#filter-topic">
				TOPIC
				<i class="glyphicon glyphicon-chevron-down pull-right"></i>
			</a>
			<div id="filter-topic" class="collapse filtercontent">
				<ul class="listing" data-category="topic">
					<!-- topics here -->
				</ul>
			</div>
		</div>
	    
	    <!-- extra filters -->
	 	<div class="extrafilters collapse hidden-xs" id="extrafilters">
	 		
	 		<!-- providers -->
			<div class="filter inactive">
				<a class="name" data-toggle="collapse" data-target="#filter-provider">
					PROVIDER
					<i class="glyphicon glyphicon-chevron-down pull-right"></i>
				</a>
				<div id="filter-provider" class="collapse filtercontent">
    				<ul class="listing" data-category="provider">
    					<!-- providers here -->
					</ul>
				</div>
			</div>
			
			<!-- genres -->
			<div class="filter inactive">
				<a class="name" data-toggle="collapse" data-target="#filter-genre">
					GENRE
					<i class="glyphicon glyphicon-chevron-down pull-right"></i>
				</a>
				<div id="filter-genre" class="collapse filtercontent">
    				<ul class="listing" data-category="genre">
						<!-- genres here -->
					</ul>
				</div>
			</div>
			
			<!-- country of production -->
		 	<div class="filter inactive">
		  		<a class="name" data-toggle="collapse" data-parent="#filter-accordion" href="#filter-country-production">
	            	COUNTRY OF PRODUCTION
	            	<i class="glyphicon glyphicon-chevron-down pull-right"></i>
		        </a>
		        <div id="filter-country-production" class="collapse filtercontent">
		           <ul class="listing" data-category="country">
						<!-- countries here -->
					</ul>
		        </div>
		 	</div>   
		 	
		 	<!-- Publisher -->
			<div class="filter inactive">
				<a class="name" data-toggle="collapse" data-target="#filter-publisher">
					PUBLISHER
					<i class="glyphicon glyphicon-chevron-down pull-right"></i>
				</a>
				<div id="filter-publisher" class="collapse filtercontent">
    				<ul class="listing" data-category="publisher">
						<!-- publishers here -->
					</ul>
				</div>
			</div>        				
		</div> 
		<div class="more">
			<a data-toggle="collapse" id="show-extra-filters" data-target="#extrafilters">SHOW MORE</a>
			<a data-toggle="collapse" id="hide-extra-filters" data-target="#extrafilters">SHOW LESS</a>
		</div>
		<div class="done visible-xs">
			<button type="button" class="btn btn-euscreen">DONE</button>
		</div>
	</div>
</div>